<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mybankmkhondeapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MYBANKMKHONDEAPP">
        <activity android:name=".OurGroup"></activity>
        <activity android:name=".AddGroupMembers" />
        <activity android:name=".Incomes" />
        <activity android:name=".LoanRepaymentPage" />
        <activity android:name=".OutsandingLoansPage" />
        <activity android:name=".AddLoanToMemberPage" />
        <activity android:name=".Loans" />
        <activity android:name=".Deposits" />
        <activity android:name=".AttendancePage" />
        <activity android:name=".ViewGroupActivities" />
        <activity android:name=".AddGroupActivities" />
        <activity android:name=".SchedulesP" />
        <activity android:name=".membeList" />
        <activity android:name=".Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>